.BlogPostCard {
  width: 100%;
  display: flex;
  max-width: 1400px;
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.BlogPostCard:hover {
  transform: scale(1.02);
}
.image {
  width: 350px;
  height: 415px;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 0px;
}
@media(max-width: 991px) {
  .BlogPostCard {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .BlogPostCard {
    flex-direction: column;
  }
  .image {
    width: 100%;
  }
}
